 @font-face {
  font-family: 'GeistVariableVF'; /* Придумайте название */
  src: url('/fonts/GeistVariableVF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; 
}

body {
  font-family: 'GeistVariableVF', sans-serif;
}   
    
